
{{- define "interfaceMethod" -}}
    {{.OperationID}}(in {{.OperationID}}Req, c *gin.Context)
{{- end}}

type {{ MakeIdentifier .Info.Title }} interface {
    {{- range $url, $e := .Paths}}
        {{- range $method, $p := (dict "POST" $e.Post "GET" $e.Get "DELETE" $e.Delete "PUT" $e.Put "PATCH" $e.Patch "OPTIONS" $e.Options) }}
            {{- with $p }}
    // {{ print $method " " $url }}
    {{template "interfaceMethod" $p }}

            {{- end}}
        {{- end}}
  {{- end}}
}

type {{ MakeIdentifier .Info.Title }}Server struct {
    Srv  {{ MakeIdentifier .Info.Title }}
}