{{ $prefix := (MakeIdentifier .Info.Title) }}

func RegisterRoutes(r *gin.Engine, api {{ $prefix }}) {
  e := &{{ $prefix }}Server{api}

	{{- range $url, $e := .Paths}}
	    {{- range $method, $p := (dict "POST" $e.Post "GET" $e.Get "DELETE" $e.Delete "PUT" $e.Put "PATCH" $e.Patch "OPTIONS" $e.Options) }}
	    {{- with $p }}
  r.Handle("{{ $method }}", "{{ ConvertUrl $url }}", e._{{ $prefix }}_{{ $p.OperationID }}_Handler)
        {{- end}}
        {{- end}}
    {{- end}}
}
