{{- define "componentSchema" }}
    {{- if eq .schema.Type "object" }}
        {{- if .schema.AdditionalProperties }}
            type {{.schemaName}} = json.RawMessage
        {{- else }}
            type {{.schemaName}} struct {
              {{- range $propname, $prop := .schema.Properties }}
                {{- $parameterName := (MakeIdentifier $propname) }}
                {{- $parameterType := $prop.GoType }}
                {{ $parameterName }} {{ $parameterType }} `json:"{{ $propname }}"`
              {{- end}}
            }

            {{- range $propname, $prop := .schema.Properties }}
                {{- if $prop.HasCustomType }}
                    var _ json.Unmarshaler = (*{{ $prop.GoType }})(nil)
                {{- end}}
            {{- end }}
        {{- end }}
    {{- else }}
        type {{.schemaName}} {{ .schema.GoType }}
    {{- end }}
{{- end }}

{{ range $schemaName, $schema := .Components.Schemas }}
    {{- template "componentSchema" (dict "schemaName" $schemaName "schema" $schema ) }}
{{ end }}
